{% extends 'base.html' %}

{% block title %}
    <title>Todo list - Manager</title>
{% endblock title %}



{% block content %}
    <br/>
    
    <div class="container">
    {% if messages%}
        {% for message in messages%}
        
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
    
    
        {%endfor%}
    {% endif %}
    

    <form method="POST" class="row align-items-center g-2"> 
        {% csrf_token %}
    
        <!-- Label with Auto-Sized Column -->
        <label class="col-lg-4 col-form-label">Any new tasks for today?</label>
    
        <!-- Input Field Wrapped in a Column -->
        <div class="col-md-6 col-lg-6">
            <input type="text" class="form-control" placeholder="Enter the task" name="task">
        </div>
    
        <!-- Button with Auto Width -->
        <div class="col-lg-2">
            <button type="submit" class="btn btn-primary w-auto text-nowrap">Create task</button>
        </div>
    </form>

    <br/>

    <table class="table table-bordered" >
        <thead class="table table-dark"  >
            <tr>
                <th scope="col">Task</th>
                <th scope="col">Done</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
                </tr>
        </thead>

        
        
        <tbody class="table-group-divider">
            {% if all_tasks%}
                {% for obj in all_tasks %}
                    {% if obj.done%}
                        <tr class="table table-success">
                            <td>{{obj.id}} | {{obj.task}}</td>
                            <td>Completed</td>
                            <td><a href="{% url 'edit_task' obj.id %}" style="text-decoration: none;">Edit</a></td>
                            <td><a href="{% url 'delete_task' obj.id %}" style="text-decoration: none;">Delete</a></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{obj.id}} | {{obj.task}}</td>
                            <td>Not Completed</td>
                            <td><a href="{% url 'edit_task' obj.id %}" style="text-decoration: none;">Edit</a></td>
                            <td><a href="{% url 'delete_task' obj.id %}" style="text-decoration: none;">Delete</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock content %}